body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 27px;
  font-weight: bolder;
}

h2 {
  text-align: center;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

.card {
  margin-top: 50px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.enter-city {
  text-align: center;
  margin: 30px 30px;
}

.card-body {
  padding-top: 40px;
}

.forecast .card-body {
  padding-top: 5px;
}

.fa-search {
  font-size: 30px;
  color: #777777;
}

.fa-map-marker-alt {
  font-size: 30px;
  color: #00587a;
}

.wind {
  margin-left: 160px;
}

.weather-description {
  position: relative;
  top: -25px;
  left: 198px;
  font-weight: bold;
  text-transform: capitalize;
}

.weather-icons {
  width: 60%;
  margin-left: 74px;
  margin-top: 15px;
}

.days {
  margin-top: 20px;
  text-align: right;
}

.current-weather {
  width: 35%;
}

.current-day {
  text-align: right;
  margin-left: 83px;
}

.github {
  margin-left: 310px;
}

.github-link {
  text-decoration: none;
}

.github-link:hover {
  text-decoration: underline;
}
